.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
}
.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.flex-row-inline {
    display: flex;
    align-items:center;
}
.flex-row-wrap {
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
}
.flex-column-inline {
    display: flex;
    flex-direction: column;
    align-items:center;
}